@accent-pink: #FFB5CF;
@background-neutral-ground: #FFFFFF;
@brand-pink-pink-50: #F63E7C;
@function-error: #E75249; // This is my color for errors
@function-success: #3BD378; // This is my color for success
@information-accent: #D8DBF5;
@information-subtle-text: #7579A0;
@information-text: #191C3D;
@information-text-inverse: #F7F7FC;
@neutral-grey-100: #353535;
@neutral-grey-25: #CDCDCD;
@neutral-grey-50: #9A9A9A;
@neutral-grey-75: #686868;
@neutral-light: #FAFCFE;
@primary-blue-crayola: #3F88C5; // This is my primary color
@primary-blue-crayola-25: #CFE1F1;
@primary-blue-crayola-50: #9FC3E2;
@primary-blue-crayola-75: #6FA6D4;
@secondary-salmon-pink: #EF959C; // This is my secondary color
@secondary-salmon-pink-25: #FBE4E6;
@secondary-salmon-pink-50: #F7CACD;
@secondary-salmon-pink-75: #F3B0B5;
@text-black: #484848;
@text-body: #4A4A68;
@text-icons-action-default: #F63E7C;
@text-icons-neutral-primary: #212121;
